---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import WhyChooseUs from '../components/WhyChooseUs.astro';
import TargetAudience from '../components/TargetAudience.astro';
import Methodology from '../components/Methodology.astro';
import Footer from '../components/Footer.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
---

<Layout title="Empiria | Centro de Terapia Psicológica y Educativa">
  <Header />
  
  <main>
    <Hero />
    <About />
    <Services />
    <WhyChooseUs />
    <TargetAudience />
    <Methodology />
  </main>
  
  <Footer />
  <WhatsAppButton />
</Layout>
