---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import QuienesSomos from '../components/QuienesSomos.astro';
import Servicios from '../components/Servicios.astro';
---

<Layout title="Empiria - Fonoaudiología y Aprendizaje">
  <main>
    <Hero />
    <QuienesSomos />
    <Servicios />
  </main>
</Layout>
